* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  min-width: 100vh;
  background-color: #375080;
  user-select: none;
}

.whole-screen {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.sider-bar {
  display: grid;
  grid-template-columns: 100px;
}

.monster-container-outer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  row-gap: 10px;
  column-gap: 100px;
  margin-top: 70px;
  margin-right: 400px;
}

.monster-container-inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  column-gap: 10px;
  row-gap: 2px;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  width: 450px;
   position: relative;
}

.locked {
  z-index: 5;
  pointer-events: none;
}

.locked::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.904);
  z-index: 1;
  border-radius: 8px;
  pointer-events: none;
}

.mon-name,
.mon-level,
.gold-drop,
.button-timer-container {
  position: relative;
  z-index: 0;
}

.mon-name {
  grid-column: 1;
  grid-row: 1;
  position: absolute;
  right: 320px;
  bottom: 22%;
  border: 4px solid #1e2124;
  font-size: 16px;
  font-weight: bold;
  background-color: #3e4c7a;
  color: white;
  border-radius: 50%;
  width: 115px;
  height: 115px;
  cursor: pointer;
  z-index: 0;
    display: flex;
  justify-content: center;  /* Centers text horizontally */
  align-items: flex-start;  /* Aligns text to the top */
  padding-top: 40px;
}

.mon-name:hover {
  background-color: rgb(150, 45, 45);
}

.mon-name:active {
  background-color: rgb(114, 35, 28);
}

.mon-level {
  font-weight: bold;
  grid-column: 1;
  grid-row: 2;
  font-size: 20px;
  color: white;
  text-align: center;
  justify-self: center;
  border: 4px solid #1e2124;
  background-color: #282b30;
  width: 120px;
  padding: 0px 30px;
  border-radius: 30px 30px 30px 30px;
    position: absolute;
    bottom: 19%;
    right: 72%
}

.gold-drop {
  grid-column: 2;
  grid-row: 1;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  border: 4px solid #1e2124;
  padding: 15px 110px;
  border-radius: 20px 100px 100px 20px;
  position: relative;
  overflow: hidden;
  background-color: #6b7077; 
}

.gold-drop::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: var(--fill-width, 100%);
  background-color: #1fcc3c6e;
  transition: width 1s linear;
}

.button-timer-container {
  grid-column: 2;
  grid-row: 2;
  display: flex;
  justify-content: left;
  align-items: center;
}

.btn-levelup {
  font-weight: bold;
  font-size: 17px;
  padding: 8px 16px;
  font-size: 14px;
  background-color: #e08132;
  color: white;
  border: 3px solid #1e2124;
  border-radius: 10px 10px 10px 10px;
  cursor: pointer;
  height: 50px;
  width: 200px;
}

.btn-levelup:active {
  background-color: #b86b2c;
}

.timer {
  font-size: 20px;
  font-weight: bold;
  color: white;
  font-family: "Courier New", Courier, monospace;
  background-color: #51565e;
  border: 3px solid #1e2124;
  border-radius: 10px 10px 10px 10px;
  height: 50px;
  width: 100px;
}

.gold-drop.filled::before {
  width: 0;
  transition: none;
}

  .unlock-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 11;
  pointer-events: initial;
  width: 50%;
  height: 50%;
  border-radius: 30px;
  background-color: #e08132;
  }

  .unlock-button:active {
    background-color: #b86b2c;
  }


.unlock-button.cannot-afford {
  background-color: #51565e;
  cursor: not-allowed;
}

.btn-levelup.cannot-afford {
  background-color: #51565e;
  cursor: not-allowed;
}

.image {
    position: absolute; /* Allows movement */
    left: 20px; /* Moves image 50px from the left */
    top: 10px; /* Moves image 20px from the top */
    width:70px;
    height: 70px;
}
