* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  min-width: 100vh;
  background-color: 	#6b7077
}

.whole-screen {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.sider-bar {
  display: grid;
  grid-template-columns: 100px;
}

.monster-container-outer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  row-gap: 10px;
  column-gap: 100px;
  margin-top: 70px;
  margin-right: 400px;
}

.monster-container-inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  column-gap: 10px;
  row-gap: 2px;
  align-items: center;
  padding: 10px;
  /*
  border: 1px solid #ddd;
  background-color: #f9f9f9;\
  */
  border-radius: 8px;
  width: 450px;
}

.mon-name {
  grid-column: 1;
  grid-row: 1;
  border: 2px solid #1e2124;
  font-size: 16px;
  font-weight: bold;
  background-color: #4caf50;
  color: white;
  border-radius: 10px;
  width: 120px;
  height: 70px;
  cursor: pointer;
}

.mon-name:hover {
  background-color: rgb(190, 42, 42);
}

.mon-name:active {
background-color: rgb(156, 35, 35)
}

.mon-level {
  grid-column: 1;
  grid-row: 2;
  font-size: 14px;
  color: white;
  text-align: center;
  justify-self: center;
  border: 2px solid 	#1e2124;
  background-color: #282b30;
  padding: 7px 40px;
  border-radius: 10px;
}

.gold-drop {
  grid-column: 2;
  grid-row: 1;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-self: center;
  border: 2px solid #1e2124;
  padding: 15px 110px;
  border-radius: 5px;
}

.button-timer-container {
  grid-column: 2;
  grid-row: 2;
  display: flex;
  justify-content: left;
  align-items: center;
}

.btn-levelup {
  padding: 8px 16px;
  font-size: 14px;
  background-color: #ff9800;
  color: white;
  border: 2px solid #1e2124;
  border-radius: 5px;
  cursor: pointer;
  height: 50px;
  width: 200px;
}

.btn-levelup:hover {
  background-color: #ee8403;
}

.btn-levelup:active {
background-color: #d87803;
}

.timer {
  font-size: 14px;
  color: white;
  font-family: "Courier New", Courier, monospace;
  background-color: #51565e;
  padding: 5px 10px;
  border: 2px solid #1e2124;
  border-radius: 5px;
  height: 50px;
  width: 100px;
}

